<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询老师</title>
</head>
<div><a href="/add_teacher.html">添加老师</a></div>
<body>
    {% for row in teacher_list %}
                    <tr>
                        <td>
                            {{ row.teacher_name }}
                        </td>
                        <td>
                            {{ row.teacher_course}}
                        </td>
                        <td>
                            {% for item in row.teacher_course.all %}
                                <span>{{item.student_name}}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="/delete_teacher.html?nid={{ row.teacher_name }}">删除</a>
                            |
                            <a href="/delete_teacher.html?nid={{ row.teacher_name }}">ajax删除</a>
                            |
                            <a href="/edit_teacher.html?nid={{ row.teacher_name }}">编辑</a>
                            |
                            <a href="/set_teacher.html?nid={{ row.teacher_name }}">分配老师</a>
                        </td>
                    </tr>
    {% endfor %}
</body>
</html>